.toggleItem {
    display: flex;
    column-gap: 6px;
    box-sizing: border-box;
    align-items: center;
}

.checkbox {
    display: flex;
    column-gap: 15px;
    width: 12px;
    height: 12px;
    border: 1px solid var(--theme-beige-color);
}
