.skillsContainer {
    transition: 0.3s ease-in-out;
}

.skillsTitle {
    font-size: var(--title-font-size);
}

.skillsList {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.skillsWrapper {
    display: flex;
    margin-top: 12px;
}
